<h1>My form</h1>
<input
  type="text" [(ngModel)]="search">
<button (click)="searchField = 'title'">
  title
</button>
<button (click)="searchField = 'text'">text</button>

<div>
  <app-post-form
  (postAdd)="updatePosts($event)"
  >
  </app-post-form>
  <br>
  <hr>
  <br>
  <app-post
    *ngFor="let post of myPosts | filter:search:searchField"
    [post] = post>
    <p *ngIf="post.text.length > 10; else otherShortP">Пост длинный</p>
    <ng-template #otherShortP>
    <p>Пост короткий</p>
    </ng-template>
  </app-post>
</div>
